@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #16774a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box ;
    overflow:hidden ;
}
.btn{
    margin-top: 40px;
    width:50%;
    padding-left:5px;
    margin-left: 110PX;
}
body{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    position: relative;
    width: 444px;
    align-items: center;
    height: 1002px;
    border-radius: 40px;
    background-color: rgb(181, 206, 17) ;
    box-shadow: 0 0 50px rgba(88, 69, 69,0.4);
    padding: 60px;
    left: 340px;
    padding-left: 40PX;
    margin-top: 30px;
}
.form-wrapper{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    transition: 1s ease-in-out;
}
.signh2{
    font-size: 24px;
    color: #16774a;
    text-align: center;
    padding-right: 34px;
    padding-left: 95px;
}
.input-group{
     position: relative;
     margin: 30px 0;
     border-bottom: 2px solid #16774a;
}
.input-group label{
     position: absolute;
     top: 50%;
     left: 5px;
     transform: translateY(-50%);
     font-size: 16px;
     color:#16774a;
     pointer-events: none;
     transition: .5s ease;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
     
}
.input-group input{
     width: 320px;
     height: 40px;
     font-size: 16px;
     color: rgb(0, 0, 0);
     padding: 0 5px;
     background: transparent;
     border: none;
     outline: none;
}
button{
    position: relative;
    width: 100%;
    height: 40px;
    background:#16774a;
    font-size: 16px;
    color:rgb(225, 253, 44);
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-right: 136px;
}
.signup-link{
   font-size: 14px;
   text-align: center;
   margin: 15px 0;
}
.signup-link p{
    color:#16774a;
}
.signup-link p a{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}
.signup-link p a:hover{
    text-decoration: underline;
}
.clnext{
    padding-left : 30px ;
    padding-top: 20px;
}
.next{
    padding-left: 10px;
    color: #16774a;
}
input[type="radio"] {
    accent-color: #4f2479;
}
.img::after{
   content: "Upload";
   background-color: #16774a;
   color:rgb(225, 253, 44);
   width: 90px; 
   height: 27pxpx;
   position: absolute;
   top: 0;
   right: 0;
   line-height: 30px; 
   padding-left: 50px;
   padding-right: 50px;
   border-radius: 20px;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
#chEq{
     margin-right: 50px;
     margin-left: 128px;
     margin-top: 17px;
     margin-bottom: -20px;
     width: 87px;
     height: 25px;
     background-color:#16774a;
     border: none;
     color: rgb(225, 253, 44);
}
#crEq{
    color:#0d6039;
}