
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .icons-table{
    display: flex;
    justify-content: space-around;
  }
  .btn-icons i {
    font-size: 1.5em;
  }
  .plus i{
    color: powderblue;
  }
  .trash i{
    color: tomato;
  }
  .pen i{
    color: forestgreen;
  }
  
  .Tablebtns {
      display: flex;
  }
  .Tablentn {
      padding: 0.5em;
      background-color: rgb(157 151 151 / 73%);
      margin: 18px;
      border-radius: 12px;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 1em;
      font-weight: 800;
  }
  body.dark {
      --light: #2f2f36;
      --grey: #273048;
      --dark: #cdcd90fc;
  }
  